.title {
  @extend %yesevaone-regular-400;
  position: relative;
  margin-bottom: 72px;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.title--online-control {
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/rapair.svg");
    height: 28px;
    width: 114px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.title--types-repair {
  color: #181818;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/rapair.svg");
    height: 28px;
    width: 114px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.checkbox-accept {
  @extend %futurabookc-400;
  display: block;
  padding-left: 20px;
  max-width: 785px;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  color: #181818;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 26px;
  }

  &__style {
    position: absolute;
    margin-left: -26px;
    width: 18px;
    height: 18px;
    background-color: #eee;
  }

  &__input:checked + &__style {
    background-image: url("../img/icons/check-box.svg");
  }
}

.project {
  padding-top: 107px;
  min-height: 1074px;
  background-image: url("../img/bg/completed-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  .swiper-container {
    margin-left: 7%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 1440px;
  }

  .swiper-slide__inner {
    display: flex;
  }

  &__info {
    margin-right: 50px;
    padding-top: 56px;
  }

  &__title {
    @extend %yesevaone-regular-400;
    margin-bottom: 34px;
    position: relative;
    font-size: 27px;
    line-height: 37px;
    max-width: 253px;
    text-transform: uppercase;
    color: $accent;

    &::after {
      content: "";
      position: absolute;
      width: 92px;
      height: 1px;
      right: -22px;
      bottom: 17px;
      background-color: $accent;
    }
  }

  &__desc {
    @extend %futurabookc-400;
    margin-bottom: 42px;
    max-width: 441px;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
  }

  &__param {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__param-item {
    width: 45%;
    padding-right: 10px;
    margin-bottom: 34px;
  }

  &__param-name {
    @extend %yesevaone-regular-400;
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: $accent;
  }

  &__param-value {
    @extend %futurabookc-400;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .slider-img {
    height: 100%;
    max-width: 845px;
    overflow: hidden;
    position: relative;
  }

  .swiper-pagination-img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 80%;

    .swiper-pagination-bullet {
      @extend %yesevaone-regular-400;
      width: auto;
      height: auto;
      flex-shrink: 1;
      text-align: center;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      padding-bottom: 6px;
      color: $accent;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 0%;
    }

    .swiper-pagination-bullet-active {
      border-bottom: 1px solid $accent;
    }
  }

  .image-arrow-r,
  .image-arrow-l {
    content: "";
    position: absolute;
    top: 45%;
    right: 2%;
    z-index: 10;
    cursor: pointer;
    background-image: url(../img/icons/image-arrow.svg);
    width: 72px;
    height: 72px;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
  }

  .image-arrow-l {
    left: 2%;
    transform: rotate(180deg);
  }

  .pagination-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    max-width: 350px;
    bottom: 0;
    left: 0;

    .pagination-w {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90px;
    }

    .swiper-pagination-bullet {
      cursor: pointer;
      width: 10px;
      height: 10px;
      font-size: 0;
      opacity: 1;
      background: rgba(255, 255, 255, 0.3);
      margin: 10px 10px;
    }

    .swiper-pagination-bullet-active {
      background-color: #fff;
    }

    .slider__arrow-l,
    .slider__arrow-r {
      cursor: pointer;
      background-image: url("../img/icons/arrow-r.svg");
      width: 41px;
      height: 14px;
      z-index: 10;
      background-position: center;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;

      &:hover {
        opacity: 0.2;
      }
    }

    .slider__arrow-l {
      background-image: url("../img/icons/arrow-l.svg");
    }
  }
}