$accent:#E3B873;
$bg-color: #131313;

%futurabookc-400 {
  font-family: "futurabookc", sans-serif;
  font-weight: 400;
}

%futurademic-400 {
  font-family: "futurademic", sans-serif;
  font-weight: 400;
}

%proxima-nova-regular-400 {
  font-family: "proxima-nova-regular", sans-serif;
  font-weight: 400;
}

%yesevaone-regular-400 {
  font-family: "yesevaone-regular", sans-serif;
  font-weight: 400;
}

%btn-link {
  padding: 20px 22px;
  text-align: center;
  text-transform: uppercase;
  min-width: 207px;
}

