@font-face {
  font-family: "futurabookc";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('futurabookc'), url('../fonts/futurabookc.woff2') format("woff2");
}

@font-face {
  font-family: "futurademic";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('futurademic'), url('../fonts/futurademic.woff2') format("woff2");
}

@font-face {
  font-family: "proxima-nova-regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('proxima-nova-regular'), url('../fonts/proxima-nova-regular.woff2') format("woff2");
}

@font-face {
  font-family: "yesevaone-regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('yesevaone-regular'), url('../fonts/yesevaone-regular.woff2') format("woff2");
}