body {
  display: flex;
  flex-direction: column;
  color: #363636;
  background-image: url("../img/bg/bg-lines.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1292px;
  margin: 0 auto;
  padding: 0 18px;
}

