.form {
  padding: 27px 48px;
  margin-bottom: 50px;
  max-width: 508px;
  background-image: url("../img/bg/form-req-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg-color;

  .form-w {
    margin: auto 0;
  }

  &__title {
    @extend %futurademic-400;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
  }

  &__request-w {
    width: 408px;
  }

  &__request-w:not(:nth-last-child(3)) {
    margin-bottom: 50px;
  }

  &__request-label {
    display: block;
    margin-bottom: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }

  &__request-field {
    display: inline-block;
    width: 408px;
    font-size: 18px;
    line-height: 24px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;
    padding-bottom: 8px;
    color: #fff;
  }

  &__request-field::placeholder {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
  }

  &__request-field {
    outline: #363636;
  }

  &__request-checkbox {
    margin-bottom: 40px;
    padding-top: 16px;
    padding-left: 26px;
    max-width: 408px;
    color: #fff;
  }

  &__request-btn {
    @extend %futurademic-400;
    @extend %btn-link;
    display: block;
    margin-left: auto;
    font-size: 13px;
    line-height: 18px;
    border: none;
    color: #fff;
    background-color: $accent;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  }

  &__request-text {
    @extend %futurademic-400;
    position: relative;
    padding-left: 120px;
    display: block;
    font-size: 20px;
    line-height: 24px;
    max-width: 370px;
    color: $accent;

    &::before {
      content: "";
      position: absolute;
      width: 113px;
      height: 113px;
      left: 0;
      top: 0;
      transform: translateY(-25%);
      background-image: url("../img/icons/pig-save.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 100%;
    }
  }
}
