.hero-image {
  display: flex;
  background-color: $bg-color;

  &__instagram-link {
    display: inline-block;
    align-self: center;
    padding-left: 34px;
    padding-right: 34px;
  }

  &__content-w {
    display: flex;
    align-items: center;
    min-height: 707px;
    width: 100%;
    position: relative;
    background-image: url("../img/bg/hero-imgbg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    padding: 60px 0 60px 60px;
  }

  &__title {
    @extend %yesevaone-regular-400;
    margin-bottom: 20px;
    max-width: 676px;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #fff;

    span {
      color: $accent;
    }
  }

  &__descr {
    @extend %futurabookc-400;
    margin-bottom: 40px;
    max-width: 504px;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
  }

  &__link-w {
    display: flex;
  }

  &__link {
    @extend %futurademic-400;
    @extend %btn-link;
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    border: 1px solid $accent;
    border-radius: 2px;
    background-color: $accent;
    color: #fff;
    transition: all 0.3s;
  }

  &__link + &__link {
    @extend %btn-link;
    margin-left: 20px;
    background-color: transparent;
    border-color: #fff;
  }

  &__scroll-link {
    @extend %yesevaone-regular-400;
    display: inline-block;
    position: absolute;
    left: -82px;
    bottom: -48px;
    padding-top: 40px;
    padding-right: 90px;
    padding-bottom: 40px;
    padding-left: 48px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    background-image: url("../img/icons/scroll-down.svg");
    background-repeat: no-repeat;
    background-position: 162px center;
    color: #fff;
    background-color: $bg-color;
  }
}