.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 22px;
  align-items: center;

  &__text {
    @extend %futurademic-400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $accent;
  }

  &__contact-telephone {
    @extend %futurademic-400;
    display: inline-block;
    margin-right: 45px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: $accent;
      text-decoration: underline;
    }
  }

  &__contact-request {
    @extend %futurademic-400;
    padding: 13px 33px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background-color: $accent;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    border-radius: 2px;
  }
}