.nav {
  &__list {
    display: flex;
  }

  &__list-item:not(:last-child) {
    margin-right: 47px;
  }

  &__list-link {
    @extend %futurabookc-400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      color: $accent;
    }
  }
}