.online-control {
  position: relative;
  text-align: center;
  padding-bottom: 148px;

  &__inner {
    margin-top: -300px;
  }

  &__video {
    position: relative;
    margin-bottom: 98px;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 55px;
      bottom: -62px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $accent;
    }
  }

  &__descr {
    @extend %futurabookc-400;
    max-width: 681px;
    font-size: 20px;
    line-height: 34px;
    margin: 0 auto 90px;
  }

  &__form {
    @extend %futurabookc-400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .form-wrapper {
    display: flex;
    margin-bottom: 33px;
  }

  .input-wrap {
    display: inline-block;
  }

  &__label {
    display: block;
    margin-bottom: 2px;
    max-width: 231px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
  }

  &__field {
    display: inline-block;
    width: 231px;
    margin-right: 58px;
    font-size: 18px;
    line-height: 24px;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-color: transparent;
    padding-bottom: 8px;
  }

  &__field::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: black;
  }

  &__field:focus {
    outline: #363636;
  }

  &__field + &__field {
    margin-right: 49px;
  }

  &__submit {
    @extend %futurademic-400;
    @extend %btn-link;
    display: block;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: $accent;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: 0;
  }
}