.request {
  background-image: url("../img/bg/bg-req.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 645px;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}