.steps-consultaiting {
  margin-right: auto;

  &__circle-list {
    list-style-type: none;
    counter-reset: item;
  }

  &__circle-item {
    @extend %futurademic-400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    position: relative;
    max-width: 460px;
    margin-bottom: 70px;
  }

  &__circle-item::after {
    content: "";
    position: absolute;
    top: 57px;
    left: 19px;
    width: 3px;
    min-height: 100%;
    background-color: $accent;
  }

  &__circle-item:last-child::after {
    display: none;
  }

  &__circle-item:nth-child(-n + 9)::before {
    @extend %yesevaone-regular-400;
    content: "0" counter(item);
    counter-increment: item;
    font-size: 18px;
    min-height: 42px;
    min-width: 42px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: $accent;
    border-radius: 50%;
    color: #fff;
  }

  &__circle-item:nth-child(n + 10)::before {
    @extend %yesevaone-regular-400;
    content: counter(item);
    counter-increment: item;
    font-size: 18px;
    min-height: 42px;
    min-width: 42px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: $accent;
    border-radius: 50%;
    color: #fff;
  }
}
