.types-repair {
  text-align: center;
  padding-bottom: 168px;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__card {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 80px;
  }

  &__card-img {
    height: 421px;
    object-fit: cover;
  }

  &__card-content {
    position: relative;
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 34px;
    max-width: 330px;
    width: 100%;
    text-align: left;
    background-color: #fff;
  }

  &__content-wrap {
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 49px;
    padding-left: 34px;
  }

  &__card-title {
    @extend %yesevaone-regular-400;
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 25px;
  }

  &__card-list li {
    list-style: disc;
    list-style-position: inside;
  }

  &__list-item {
    @extend %futurabookc-400;
    font-size: 15px;
    line-height: 25px;
    color: #959595;
  }

  &__card-link {
    @extend %yesevaone-regular-400;
    display: inline-block;
    margin-top: 20px;
    margin-left: -35px;
    margin-bottom: -25px;
    padding-top: 17px;
    padding-right: 21px;
    padding-bottom: 17px;
    padding-left: 21px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #fff;
    background: $accent;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  }
}
