@import "base/modules.scss";
@import "utils/modules";
@import "layout/modules";
@import "node_modules/swiper/swiper-bundle";

.header {
  background-color: $bg-color;
}

.footer {
  margin-top: 160px;
  background-color: $bg-color;

  .navigation {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}


